/* General Styles */
body {
    font-family: 'Georgia', serif;
    margin: 0;
    padding: 0;
    line-height: 1.6;
    background-color: #f5f1eb;
    color: #333;
    text-align: center;
}

/* Navigation */
#main-nav {
    background:transparent;
    padding: 10px 0;
    position: sticky;
    top: 0;
    width: 100%;
    z-index: 1000;
}

#main-nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    gap: 20px;
   

}

#main-nav ul li {
    margin: 0 15px;
}

#main-nav ul li a {
    color: #333;
    text-decoration: none;
    font-weight: bold;
    font-size: 1rem;
    transition: color 0.3s , border-bottom 0,3s;
    
}

#main-nav ul li a:hover {
    color: #786888;
}

/* Hero Section */
.hero {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin-top: 60px;
    /* Offset for fixed nav */
}

.hero h1 {
    font-size: 4rem;
    margin: 10px 0;
    font-weight: bold;
    text-transform: uppercase;
}

.hero p {
    font-size: 1.2rem;
    margin-top: 20px;
    max-width: 600px;
}

/* Contact Section */
#contact {
    padding: 50px 20px;
    background: #f4f4f4;
}

#contact h2 {
    font-size: 2rem;
    margin-bottom: 20px;
}

#contact form {
    max-width: 400px;
    margin: 0 auto;
    text-align: left;
}

#contact label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

#contact input,
#contact textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

#button {
    background: #a79db0;
    color: black;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: background 0.3s ease;
}

#contact button:hover {
    background: #a79db0;
    
}

/* Footer */
.main-footer {
    background: #6a6666;
    color: white;
    padding: 10px 0;
}

.main-footer .social-links {
    list-style: none;
    padding: 0;
    display: inline-block;
    justify-content: center;
    text-decoration: none;
}

.main-footer .social-links li {
    margin: 0 10px;
}

.main-footer .social-links a {
    color: #a79db0;
    
    font-size: 1.2rem;
    transition: color 0.3s ease;
}

.main-footer .social-links a:hover {
    color: #979298;
}